<body style="font-family: Courier New">
	<div class="middle-box text-center loginscreen animated fadeInDown">
		<div>
			<div>
				<h1 class="logo-name"><img src="@routes.Assets.at("img/favicon.png")" alt=""></h1>
    </div>

    <h1>Welcome to Romeo.ai!</h1>

    <p>Our webapp integrates with your Tinder account to give you profile tips, stat tracking, and strategies to up your game.</p> 
	
	<h4 style="color:tomato;">Hit the submit button below to try the demo!</h4>
	<h4 style="color:tomato;">To see analytics on your Tinder data, follow the instructions below...</h4>
	<h2>Privacy Policy</h2>
	<p>Authorizing your Tinder gives Romeo.ai access to your photos, matches, messages, and other data. Romeo.ai will not send messages or otherwise make alterations to your Tinder account, and your anonymized data will be used to improve Romeo.ai. No personally identifiable information will be associated with your individual messages.</p>
	<h2>Connect Your Tinder Account</h2>
    <p>1. Cmd/Ctrl + Shift + click <a href="https://www.facebook.com/v2.6/dialog/oauth?redirect_uri=fb464891386855067%3A%2F%2Fauthorize%2F&display=touch&state=%7B%22challenge%22%3A%22IUUkEUqIGud332lfu%252BMJhxL4Wlc%253D%22%2C%220_auth_logger_id%22%3A%2230F06532-A1B9-4B10-BB28-B29956C71AB1%22%2C%22com.facebook.sdk_client_state%22%3Atrue%2C%223_method%22%3A%22sfvc_auth%22%7D&scope=user_birthday%2Cuser_photos%2Cuser_education_history%2Cemail%2Cuser_relationship_details%2Cuser_friends%2Cuser_work_history%2Cuser_likes&response_type=token%2Csigned_request&default_audience=friends&return_scopes=true&auth_type=rerequest&client_id=464891386855067&ret=login&sdk=ios&logger_id=30F06532-A1B9-4B10-BB28-B29956C71AB1&ext=1470840777&hash=AeZqkIcf-NEW6vBd">here</a> to open the Tinder authentication workflow via Facebook</p>
    <p>3. If you see a "Continue" button, click it and skip to 5. If you don't see "Continue", hit Cmd/Ctrl + Shift + C to open the developer console</p>
	<p>4. Make sure the <a href="https://imgur.com/a/zq8Ujbk">iPhone icon in the</a> upper left corner of the developer console is selected, then refresh.</p> 
    <p>4. "Continue" should now appear in the Facebook popup. Click it</p>
    <p>5. At the top of the developer console, <a href="https://imgur.com/a/PQdnIPc">select the "network" tab</a>, then select the "confirm/" entry in the table under "Name". Finally, select the "response" tab and copy the entire text string that appears underneath.</p>
    <p>6. Paste your copied text below and press "Submit" to give authorize your Tinder.</p>

    <form action="{{ url_for('submit') }}" method="post">
      <textarea name="text"></textarea>
      <input type="submit">
    </form>

    </div>
  </div>
</div>


</body>